.header-anchor
  margin-left: .3rem
  opacity: 0%

  &:hover
    opacity: 100%

*:hover
  > .header-anchor
    opacity: 100%

kbd
  display: inline-block
  padding: 3px 5px
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
  line-height: 10px
  color: #444d56
  vertical-align: middle
  background-color: #fafbfc
  border: 1px solid #d1d5da
  border-radius: 3px
  box-shadow: inset 0 -1px 0 #d1d5da

article

  td, th
      white-space: nowrap

  embed
      margin-bottom: .5rem
  
  shadow
      display: inline
      opacity: 33%
  
  div
      &.justified-gallery
          margin-bottom: 1rem

.video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
